<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Man0n0</title>
    <link rel="icon" type="image/x-icon" href="/static/img/spider.ico">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="three.min.js"></script>
  </head>
  <body>
   
    <div id = "menu" style ="    position: fixed;"> 

        {% include 'menu.html' %} 

        <div class = "scroll" > <marquee behavior="scroll" direction="left">¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´ </marquee></div>

    </div>

    
<!--         galerie photo !! (barre avec mignature et ouverture en grand sans bouger dispo ligne des vignettes)

        affichage image dans /archi & /essai

        regler esthetiaue de vignette video (youtube) | autoplay + loop

        pb info : zone de a etrangement placé

        disposition de l'anim js au sein de lap age // daphnia  -->


    <div id="articles">
        <ul>
        {% for article in articles %}
            <li><a href="{{ url_for('index', _external=False) }}{{ article.path }}"><h2>{{article.title}}</h2></a><span class="type"><a href="/cat/{{article.type}}">{{article.type}}</a></span><span class="date">{{ article.published }}</span> <img src = "{{ url_for('index', _external=False) }}static/img/{{article.img}}"></li>
            
        {% endfor %}
        </ul>
    </div>


    <div id="bottomline">
     <marquee behavior="scroll" direction="right" >¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´¯`·¯`·.¸¸.·´¯`·.·´</marquee>
    </div>

    <script src="index.js"></script>
  </body>
</html>
